.error_message {
    color: white;
    font-size: 1.4rem;
}
.error_container {
    position: fixed;
    border-radius: 3px;
    box-shadow: 0 0 2px 1px rgba(0,0,0,0.2);
    background-color: rgb(255, 32, 32);
    padding: 12px 24px;
    top: 24px;
    right: 24px;
    animation: pop-ip 300ms ease-out 1 normal;
}

@keyframes pop-ip {
    0% {
        transform: translate(50px, 0);
    }
    50% {
        transform: translate(-25px, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}