body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --error-color: rgb(255, 80, 74);
  --ok-color: rgb(135, 212, 135);;
  --warning-color: rgb(202, 185, 88);
}


.table {
  border-collapse: collapse;
}

.table td, .table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table td {
  padding: 4px 8px!important;
}

.table tr:hover {background-color: #ddd;}

.table thead {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: lef;
  color: black;
}