@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(./Montserrat-VariableFont_wght.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --error-color: rgb(255, 80, 74);
  --ok-color: rgb(135, 212, 135);;
  --warning-color: rgb(202, 185, 88);
}

* {
  font-family: Montserrat, sans-serif;
}