@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --error-color: rgb(255, 80, 74);
  --ok-color: rgb(135, 212, 135);;
  --warning-color: rgb(202, 185, 88);
}

* {
  font-family: 'Montserrat', sans-serif;
}